[user]
  email = 122265380+surbanski-nr@users.noreply.github.com
  name = Szymon Urbański
[core]
  editor = vim
[push]
  autoSetupRemote = true
[credential "https://github.com"]
	helper = 
	helper = !gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !gh auth git-credential
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
